{% extends "django_app/base.html" %}
{% block content %}

<h1>Data Analysis Page</h1>
<p>Welcome to the data analysis page where we will use sample data to look at different things, theres an interactive form where you can put data in and the table will change.</p>
<p>Maybe have a table where a user can add their movie rating and itll add it to a table with other people's movie ratings</p>

<div>
<form method="post">
    {% csrf_token %}
    {{rating_form.as_p}}
    <button type="submit", name="save">Submit</button>
</form>
</div>

{% if chart %}
<img src="data:image/png;base64, {{chart|safe}}">
{% endif %}

<!-- VIEW COMMENTS -->
<div class="container bg-light border">
    <!-- VIEW COMMENTS -->
    <h5>Comments</h5>
    <ul>
        {% for comment in comments %}
        <li style="list-style-type: none;">{{comment}}</li>
        {% endfor %}
    </ul>

    <!-- ADD COMMENT -->
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", name="save">Submit</button>
    </form>
</div>
{% endblock %}