{% extends "django_app/base.html" %}
{% block content %}

<h1>Film Ratings</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-light border">
            <div>
                <p>Welcome to the film ratings page. Here you can rate a selection of films out of 10 and see your ratings on the horizontal bar chart. You can also compare all of the films ratings from all of the other users.</p>
                <p>Add your film ratings in the form below!</p>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{rating_form.as_p}}
                    <button type="submit", name="save">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
                {% if chart %}
                <img class="center-block" src="data:image/png;base64, {{chart|safe}}">
                {% endif %}
        </div>
    </div>
</div>

<!-- COMMENTS -->
<div class="container">
  <div class="bg-light border col-md-8">
    <!-- VIEW COMMENTS -->
    <h5>Comments</h5>
    <ul>
        {% for comment in comments %}
        <li style="list-style-type: none;">{{comment}}</li>
        {% endfor %}
    </ul>

    <!-- ADD COMMENT -->
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", name="save">Submit</button>
    </form>
    </div>
</div>
{% endblock %}