{% extends "django_app/base.html" %}
{% block content %}

<h1>The Stock Market</h1>
<br>
<div class="container border">
    <div class="row">
        <div class="col-sm bg-light">
            <p>Welcome to the finance page, create queries within the stock market between a certain time period. This graph pulls information from the Federal Reserve Bank of St. Louis (FRED).</p>
            <h5>Important Information:</h5>
            <ol>
                <li>Data may not be available from certain years.</li>
                <li>There may be gaps in the Federal Reserve Bank of St. Louis' data.</li>
                <li>For more information, please visit FRED's website <a href="https://fred.stlouisfed.org/" target="_blank">here.</a></li>
            </ol>
        </div>
        <div class="col-sm bg-light">
            <!-- FRED QUERY -->
            <h5>New Query</h5>
            <form method="post">
                {% csrf_token %}
                {{fred_form.as_p}}
                <button type="submit", name="query">Search</button>
            </form>
        </div>
    </div>
</div>

{% if graph %}
<img src="data:image/png;base64, {{graph|safe}}">
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5>Volatility (Variance): {{variance}}</h5>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
<br>
<div class="container bg-light text-center border">
    <!-- VIEW COMMENTS -->
    <h5>Comments</h5>
        {% for comment in comments %}
        <p>{{comment}}</p>
        {% endfor %}

    <!-- ADD COMMENT -->
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", name="save">Submit</button>
    </form>
</div>
<br>
<p><b>How the page works - </b>Using pandas datareader I was able to access the FRED API using parameters submitted in the query form. The information was received in a pandas dataframe which subsequently was transformed into a matplotlib plot.</p>
{% endblock %}