{% extends "django_app/base.html" %}
{% block content %}

<h1>Finance Page</h1>
<p>Welcome to the finance page, where we will analyse financial data using.... looking at the stock market and risk/reward etc</p>

<p>Form to decide which stuff to import from fred, they can choose what and the date range</p>
<!-- VIEW COMMENTS -->
<h5>Comments</h5>
<ul>
    {% for comment in comments %}
    <li>{{comment}}</li>
    {% endfor %}
</ul>

<!-- ADD COMMENT -->
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit", name="save">Submit</button>
</form>

{% endblock %}